* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-areas: 
        "sidebar header"
        "sidebar main";
    grid-template: 1fr 4fr \ 1fr 4fr;
}

header {
    display: grid;
    grid-area: header;
    grid-template-areas: 
        "search notification"
        "greeting buttons";
}

#search {
    grid-area: search;
    display: grid;
    grid-template-columns: auto auto;
}

#greeting {
    grid-area: greeting;
    display: grid;
    grid-template-columns: auto auto;
}

#notification {
    grid-area: notification;
    display: grid;
    grid-template-columns: auto auto auto;
}

#buttons {
    grid-area: buttons;
    display: inline-grid;
    grid-template-columns: repeat(3, 1fr);
}

#sidebar {
    grid-area: sidebar;
    display: grid;
    grid-template-columns: auto;
    padding: 10px 0 0 10px;
    gap: 2em;
}

#logo-container {
    display: grid;
    grid-template-columns: auto auto;
}

.menu-item {
    display: grid;
    grid-template-columns: auto auto;
}

main {
    grid-area: main;
    display: grid;
    grid-template-columns: 2fr 1fr;
}

#projects {
    display: grid;
}