:root {
    /* main, search bg */
    --light: rgba(224, 228, 237, 1);
    /* sidebar, button text | header, cards bg */
    --white: rgba(255, 255, 255, 1);
    /* sidebar, button bg */
    --main-color: rgba(25, 126, 201, 1);
    /* card border-left */
    --accent-color: rgba(235, 166, 32, 1);
    /* card text */
    --medium: rgb(127, 127, 127);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    display: grid;
    grid-template-areas: 
        "sidebar header"
        "sidebar main";
    grid-template-columns: 20% 80%;
    min-height: 98vh;
}

header {
    display: grid;
    grid-area: header;
    grid-template-areas: 
        "search notification"
        "greeting buttons";
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 30px 1fr;
    padding: 18px 27px;
    gap: 25px;
}

#search {
    grid-area: search;
    display: grid;
    grid-template-columns: 24px 1fr;
    gap: 10px;
}

#search input {
    border-radius: 20px;
    background-color: var(--light-bg);
    border: transparent;
    background-color: var(--light);
    height: 90%;
}

#greeting {
    grid-area: greeting;
    display: grid;
    grid-template-columns: max-content auto;
    align-items: center;
    gap: 10px;
}

#greeting img {
    width: 70px;
    height: auto;
    border-radius: 50%;
}

#greeting div p:nth-child(1) {
    font-size: .8em;
    font-weight: 800;
}

#greeting div p:nth-child(2) {
    font-size: 1.3em;
    font-weight: 900;
}

#notification {
    grid-area: notification;
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    align-items: center;
    gap: 20px;
    font-weight: 900;
}

#notification svg {
    width: 24px;
    height: 24px;
    justify-self: right;
    margin-right: 5px;
}

#notification img {
    width: 40px;
    height: auto;
    border-radius: 50%;
}

#buttons {
    grid-area: buttons;
    display: inline-grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
}

button {
    border-radius: 20px;
    border: transparent;
    width: 79px;
    height: 37px;
    background-color: var(--main-color);
    color: var(--white);
    font-weight: bold;
}

#sidebar {
    grid-area: sidebar;
    display: grid;
    grid-template-columns: auto;
    margin: 0;
    padding: 15px;
    gap: 2em;
    background-color: var(--main-color);
    color: var(--white);
    font-size: 1.2em;
    letter-spacing: .025em;
    grid-template-rows: max-content max-content max-content;
}

#logo-container {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    font-size: 1.4em;
}

#main-menu {
    display: grid;
    gap: .9em;
    justify-content: center;
}

#menu-space {
    height: 1.8em;
}

.menu-item {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
}

.menu-item svg {
    width: 24px;
    height: 24px;
    justify-self: center;
}

main {
    grid-area: main;
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 10px 15px;
    background-color: var(--light);
    padding: 20px 15px 30px 10px;
}

#projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "project-name ."
        "project-desc project-desc"
        ". action-icons";
    border-left: 6px solid var(--accent-color);
    background-color: var(--white);
    border-radius: 15px;
    padding: 20px 10px;
    height: 200px;
    grid-template-rows: max-content auto 24px;
    gap: 5px;
}

.card .title {
    grid-area: project-name;
    font-weight: bolder;
}

.card .description {
    grid-area: project-desc;
    color: var(--medium);
    font-size: .9em;
    font-weight: 200;
}

.card .icons {
    grid-area: action-icons;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#news {
    display: grid;
    gap: 20px;
}

.announcements,
.trending,
.card {
    box-shadow: 1px 1px 5px var(--medium);
}

hr {
    border: 0;
    border-top: 1px solid var(--light);
}

.announcements,
.trending {
    background-color: var(--white);
    border-radius: 15px;
    display: grid;
}

.announcements {
    padding: 25px 20px 20px;
}

.announcements div p:first-child {
    font-weight: 900;
    font-size: .79em;
    padding-bottom: .2em;
}

#trending-header {
    align-self: end;
}

.announcements div p:last-child {
    color: var(--medium);
    font-size: .77em;
}

.trending {
    display: grid;
    gap: 10px;
    padding: 20px;
}

.trending img {
    width: 40px;
    height: auto;
    border-radius: 50%;
}

.trending > div {
    display: grid;
    grid-template-columns: max-content 1fr;
    align-content: center;
    gap: 15px;
}

.user-assigned {
    display: grid;
    align-content: center;
    gap: 2px;
}

.handle {
    font-size: .9em;
}

.user-assigned .project {
    font-size: .79em;
    color: var(--medium);
}