:root {
    /* main, search bg */
    --light: rgba(224, 228, 237, 1);
    /* sidebar, button text | header, cards bg */
    --white: rgba(255, 255, 255, 1);
    /* sidebar, button bg */
    --main-color: rgba(25, 126, 201, 1);
    /* card border-left */
    --accent-color: rgba(235, 166, 32, 1);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid teal; */
}

body {
    display: grid;
    grid-template-areas: 
        "sidebar header"
        "sidebar main";
    grid-template-columns: 20% 80%;
}

header {
    display: grid;
    grid-area: header;
    grid-template-areas: 
        "search notification"
        "greeting buttons";
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 30px 1fr;
    padding: 18px 27px;
    gap: 25px;
}

#search {
    grid-area: search;
    display: grid;
    grid-template-columns: 24px 1fr;
    gap: 10px;
}

#search input {
    border-radius: 20px;
    background-color: var(--light-bg);
    border: transparent;
    background-color: var(--light);
    height: 90%;
}

#greeting {
    grid-area: greeting;
    display: grid;
    grid-template-columns: auto auto;
}

#notification {
    grid-area: notification;
    display: grid;
    grid-template-columns: auto auto auto;
}

#buttons {
    grid-area: buttons;
    display: inline-grid;
    grid-template-columns: repeat(3, 1fr);
}

#sidebar {
    grid-area: sidebar;
    display: grid;
    grid-template-columns: auto;
    padding: 10px 0 0 10px;
    gap: 2em;
    background-color: var(--main-color);
    color: var(--white);
}

#logo-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.menu-item {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.menu-item svg {
    width: 24px;
    height: 24px;
}

main {
    grid-area: main;
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 10px 15px;
    background-color: var(--light);
}

#projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 15px;
}

.card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "project-name ."
        "project-desc project-desc"
        ". action-icons";
    border-left: 6px solid var(--accent-color);
    margin: 10px;
    background-color: var(--white);
    border-radius: 15px;
    padding: 5px;
    height: 200px;
}

.card .title {
    grid-area: project-name;
}

.card .description {
    grid-area: project-desc;
}

.card .icons {
    grid-area: action-icons;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#news {
    display: grid;
    gap: 20px;
}

.announcements,
.trending {
    background-color: var(--white);
    border-radius: 15px;
}

.announcements {
    padding: 12px;
}

.trending {
    display: grid;
    gap: 10px;
}

.trending > div {
    padding: 12px;
}

.trending > div > div {
    display: grid;
    grid-template-columns: 1fr 2fr;
}